# Backend API URL (REST)
# NEXT_PUBLIC_API_URL=http://100.x.x.x:30303

# Backend WebSocket URL
# NEXT_PUBLIC_WS_URL=ws://100.x.x.x:30303

# Tldraw license key
# NEXT_PUBLIC_TLDRAW_LICENSE_KEY=your_tldraw_license_key
