/* Import additional animations */
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* Import UI package global styles */
@import "@workspace/ui/globals.css";

/* Tell Tailwind to scan our UI package components */
@source "../../../../packages/ui/src";

/* Landing app specific styles */
@theme inline {
  --font-sans: var(--font-geist-pixel-square);
  --font-mono: var(--font-geist-mono);

  --animate-marquee-horizontal: marquee-horizontal var(--marquee-duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--marquee-duration) infinite linear;

  @keyframes marquee-horizontal {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--marquee-gap)));
    }
  }
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior-y: none;
}
